@page
@model ECommerce.Pages.Shop.ShopDisplayModel
@using System.Security.Claims
@{
	var shop = Model.Shop;
	var user = Model.User;
}

<h2 style="color:Blue;"> @shop.Name </h2>

<h4 style="color:Black;"> @shop.Description </h4>

	<table class="table table-bordered table-striped" style="height:100%;width:100%;display:block;overflow:scroll">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var ProdObj in Model.Products)
			{
				if (ProdObj.ShopID == shop.ShopID)
				{
					<tr>
						<td width="50%">@ProdObj.Name</td>
						<td width="50%">@ProdObj.Description</td>
						<td width="50%">@ProdObj.Price</td>
						<td>
							<div class="btn">
								<a class="btn btn-primary" asp-area="" asp-route-pid=@ProdObj.ProductID asp-page="/Product/View">View</a>
							</div>
						</td>
						@if (User.Identity.IsAuthenticated)
						{
							var userID = User.FindFirst("UserID").Value;
							if (shop.OwnerID.ToString() == userID)
							{
								<td>
									<div class="btn">
										<a asp-page="/Update/Update" asp-route-pid=@ProdObj.ProductID>
											<button pid=@ProdObj.ProductID class="btn btn-primary">Update</button>
										</a>
									</div>
								</td>
								<td>
									<div class="btn">
										<form asp-page-handler="delete" asp-route-pid=@ProdObj.ProductID asp-route-sid=@shop.ShopID method="post">
											<button pid=@ProdObj.ProductID sid=@shop.ShopID class="btn btn-danger">Delete</button>
										</form>
									</div>
								</td>
							}
						}
					</tr>
				}
			}
		</tbody>
</table>

@if (User.Identity.IsAuthenticated)
{
	var userID = User.FindFirst("UserID").Value;
	if (shop.OwnerID.ToString() == userID)
	{
		<a style='text-decoration:none;' asp-area="" asp-route-sid=@shop.ShopID asp-page="/ShopDisplay/Update">
			<btn><txt>Edit Shop</txt></btn>
		</a>
		<a style='text-decoration:none;' asp-area="" asp-route-shopID=@shop.ShopID asp-page="/ProductAdd/ProductAdd">
			<btn><txt>Add a Product</txt></btn>
		</a>
		<a style='text-decoration:none;' asp-area="" asp-route-shopID=@shop.ShopID asp-page="/ShopDisplay/ShopOrders">
			<btn><txt>View Shop Orders</txt></btn>
		</a>
	}
}