@page
@model ECommerce.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (ViewData["Error"] != null)
{
    <div class="red">
        <p><strong>Error:</strong> @ViewData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="green">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}

@foreach (var CatObj in Model.Category)
{
    int count = 0;
    int tempID = 0;
    @foreach (var RepsObj1 in Model.Represents)
    {
        if(RepsObj1.CategoryID == CatObj.CategoryID)
        {
            tempID = RepsObj1.ProductID;
            break;
        }
    }

    <a style='text-decoration:none;' asp-area="" asp-route-id=@CatObj.CategoryID asp-page="/CategoriesDisplay/CategoriesDisplay">
        @{
            Model.OnGetFetchImg(tempID);
        }
        <btn><txt>@CatObj.Name</txt><hr class = "button-divider"><img class = "category-image" src=@ViewData["imgsrc"] alt="Apple" width="200" height="100"></btn>
	</a>
    @foreach (var ProdObj in Model.Products_i)
    {
        @foreach (var RepsObj in Model.Represents)
        {
            if (RepsObj.ProductID == ProdObj.ProductID && RepsObj.CategoryID == CatObj.CategoryID)
            {
                
                <div class="product-object" style="width: 33%; float:left;">
                    <div class="row">
                        <div class="col">
                            @{
                                Model.OnGetFetchImg(@ProdObj.ProductID);
                            }
                            <img class = "product-image" src=@ViewData["imgsrc"] alt="Apple" width="400" height="200">
                        </div>


                        <div class = "col">
                            <div class="row">
                                    <h4>@ProdObj.Name</h4>
                            </div>
                            <div class="row">
                                <a asp-page="/ShopDisplay/ShopDisplay" asp-route-shopID=@ProdObj.ShopID asp-route-id=@ProdObj.ShopID>Visit Shop</a>
                            </div>
                            <hr class = "product-line">
                            <div class="row">
                                <span><strong>Price:</strong> $@ProdObj.Price</span>
                            </div>
                            <hr class = "product-line">
                            <div class="row">
                                <h5>About this product</h5>
                                <p>@ProdObj.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
                count++;
            }
        }
        if(count >= 3)
        {
            break;
        }  
    }
    <div class="break"></div>
}
